# Публичный IP
SERVER_IP=123.45.67.89

SERVER_DOMAIN=video.qwertttyyy.ru

# TURN-авторизация
TURN_USERNAME=testuser
TURN_PASSWORD=testpassword

# Разрешённый origin для CORS бэкенда
FRONTEND_ORIGIN=https://video.qwertttyyy.ru

# Максимальное количество одновременных сессий
MAX_SESSIONS=10